<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

RewriteRule ^index\.php$ - [L]

#Prevent directory structure being peeped.
#@link: https://stackoverflow.com/questions/5437375/apache-mod-rewrite-for-everything-except-root
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} !^/$
RewriteRule (.*) /403 [L]

#All routes to the index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /index.php?uri=$1 [L]

</IfModule>

